@model WebApplication1.Helpers.ApplicationUser
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            font-family: Georgia, serif;
            color: #000000;
            text-align: default;
            background-color: #5df497;
        }

        p {
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: default;
            color: #2f2d2d;
        }
    </style>
</head>
<body>
    <h1>Cześć @Model.FirstName @Model.LastName</h1>
    <p>Poprawnie zalogowałeś się do systemu.</p>
</body>
</html>