@model WebApplication1.models.databasemodels.Customer

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edytuj klienta</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Klienci</a></li>
                        <li class="breadcrumb-item active">Edytuj klienta</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">         
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Dane główne</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                               <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <div class="input-group">                                
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input asp-for="Email" class="form-control" placeholder="Email" />                                
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>                         

                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input asp-for="BirthDate" type="text" id="date-input" class="form-control" data-inputmask-alias="date" data-inputmask-inputformat="dd/mm/yyyy" data-mask="dd/mm/yyyy" inputmode="numeric"/>
                                </div>                                
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                            <input type="submit" value="Zapisz" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Dane adresowe</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                             <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PostCode" class="control-label"></label>
                                <input asp-for="PostCode" id="postcode-input" class="form-control" data-inputmask="'mask': ['99-999']" data-mask inputmode="text"/>
                                <span asp-validation-for="PostCode" class="text-danger"></span>
                            </div>

                             <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
}
