@model WebApplication1.models.databasemodels.Cost

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dodaj koszt</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Koszty</a></li>
                        <li class="breadcrumb-item active">Dodaj koszt</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">         
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Dane</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="IdCostType" class="control-label"></label>
                                <select asp-for="IdCostType" class ="form-control" asp-items="ViewBag.IdCostType"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdCampaign" class="control-label"></label>
                                <select asp-for="IdCampaign" class ="form-control" asp-items="ViewBag.IdCampaign"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdContractor" class="control-label"></label>
                                <select asp-for="IdContractor" class ="form-control" asp-items="ViewBag.IdContractor"></select>
                            </div>                                                                                
                        </div>
                        <div class="card-footer">
                            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                            <input type="submit" value="Dodaj" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
